.main{
    text-align: center;
    margin: 1%;
}

section{
    border: 1px solid darkgrey;
    background-color: whitesmoke;
    height: 320px;
    text-align: left;
    padding: 1%;
}

#get,#post,#put,#delete{
    margin: 1%;
}